<!doctype html>

<html>

<head>
    <title> Ankieta</title>
    </head>
    <body>
    <h1> Witaj w ankiecie środowiskowej dotyczącej wiedzy na temat szczepień oraz informacji o szczepionkach. </h1>
    <p> Serdecznie zapraszamy do wypełnienia ankiety. </p>
    <input type="submit" value="Rozpocznij" onclick ="return Data();">
    <script>
        function Data(){
        window.location.href = 'Dane_os.html';
        return false;
        }
    </script>
    </body>
<footer>

</footer>
</html>