<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generalne informacje o zachorowaniu na COVID-19</title>
</head>
<body>
<form>
        <p>Czy zachorowałeś na COVID-19?</p>
        <input type="radio" id="y" name="disease" value="yes">
        <label for="y">Tak</label><br>
        <input type="radio" id="n" name="disease" value="no">
        <label for="n">Nie</label><br>
        <p>Jeśli tak, to zachorowałeś przed czy po zaszczepieniu?</p>
        <input type="radio" id="before" name="time" value="before">
        <label for="before">Przed</label><br>
        <input type="radio" id="after" name="time" value="after">
        <label for="after">Po</label><br>
        <input type="radio" id="both" name="time" value="both">
        <label for="both">Zarówno przed jak i po</label><br>
        <p>Jak oceniasz przebieg choroby?</p>
        <input type="radio" id="easy" name="mileage" value="easy">
        <label for="easy">Lekki</label><br>
        <input type="radio" id="medium" name="mileage" value="medium">
        <label for="medium">Średni</label><br>
        <input type="radio" id="hard" name="mileage" value="hard">
        <label for="hard">Ciężki</label><br>
</form>
</body>
</html>